/* Banner style part */
.header {
    background-image: url(../images/banner/banner1.png);
    
    width: 100%;
    height: 800px;
    /* background-size: cover; */
   background-repeat: no-repeat;
    
}
p{
    color: #737272;
}
.Banner{
    display: flex;
    text-align: right;
    padding: 150px 530px 0 645px; 
    margin-left: 150px;
   
  
}
.Banner-title{
    width: 400px;
    color: #151414;
    font-size: 50px;
    font-weight: 700;
     text-align: right;
     margin-right: 525px;
    
}
.Banner-sub-title{
    color: #444343;
    text-align: right;
    font-weight: 400;
   font-size: 16px;
   margin-right: 525px;
}
.Banner-btn{
    color: #FFFFFF;
    font-size: 25px;
   width: 160px;
   height: 64px;
   left: 1210px;
   top: 578px;
   border: 0;
   background-color: crimson;
   margin-right: 525px;
}
/* Main section styles */
.failure{
   margin-top: 0;
   padding-top: 0;
   margin-left: 50px;
}
.failure-title{
    display: flex;
    margin: 15px 20px 20px 20px;
    
}
.failure-main-block{
width: 416px;
height: 400px;
/* margin-top: 230px; */
 margin-left: 100px;
/* left: 862px; */
top: 1178px;
}
.failure-sub-title{
    font-size: 50px;
    font-weight: 700px;


}
.description {
    color: #444343;
}
.failure-main-block 
      {
        
    }
    input[type=checkbox]+label {
        display: block;
    
    }
    
    input[type=checkbox] {
        display: none;
    
    }
    
    input[type=checkbox]+label::before {
        content: "\2714";
        color: green;
    }
    h2{
        text-align: center;
    }
    .plan-content{
        display: flex;
        gap: 50px;
        justify-content: center;
        
    }
    .mindset{
        margin-top: 100px;
        margin-bottom: 100px;
        background-image: url(../images/watch.png);
        background-repeat: no-repeat;
        background-size: cover;
        left: 230px;
        background-size: 900px 250px;
        background-position: 200px 0px;
        
    }
    .mindset-title{
        margin-left: 280px;
        padding: 30px;
        background-image: linear-gradient(red yellow);
    
    }
    .mindset-sub-title{
        font-size: 30px;
        color: red;
        text-align: left;
        
    }
    .call-btn{
         color: #F15B22;
        padding: 18px 35px;
        font-weight: 600;
       font-size: 20px;
        border: 0;
        height: 64px;
        border-radius: 5px;
        background: white;
    }
    /* footer part style */
    
    .footer {
        display: flex;
        gap: 100px;
        padding: 130px 200px;
        background-color: #181818;
        background-size: cover;
    }
    
    .footer-title {
        font-size: 40px;
        color: #FFFFFF;
        text-align: left;
    }
    .footer-sub-title {
        color: white;
        font-size: 20px;
        margin-right: 250px;
    } 
    .footer a {
        text-decoration: none;
        gap: 100px;
    }
    
    .icon-title {
        font-size: 27px;
        color: #FFFFFF;
    }
    
    .icon-content {
        border: 0;
        font-size: 17px;
        height: 24px;
        border-radius: 5px;
        color: red;
        text-align: center;
    }
    



    

        

    
